/.idea
/node_modules
/Client/node_modules
/Client/public
/Client/public
/Client/src
/Client/.editorconfig
/Client/.env
/Client/.gitignore
/Client/package-lock.json
/Client/package.json
/Client/README.md
package-lock.json
.DS_Store
/.vimrc
/.ackrc
/coverage
npm-debug.log
yarn-error.log
.idea
.nyc_output
/.vscode
